{% extends "catalog/base_generic.html" %}
{#Password reset form#}
{#This is the form used to get the user's email address #}
{#(for sending the password reset email). #}
{#Create /locallibrary/templates/registration/password_reset_form.html, #}
{#and give it the following contents:#}

{% block content %}
    <p>Email:</p>
    <form action="" method="post">
        {% csrf_token %}
        {% if form.email.errors %}
            {{ form.email.errors }}
        {% endif %}
        <p>{{ form.email }}</p>
        <input type="submit" class="btn btn-default btn-lg" value="Reset password">
    </form>
{% endblock %}