{% extends 'site_app/base.html' %}
{% load static %}

<html>
    <head>
        <title>Tango with Django blog</title>

    </head>
    <body>
        <div class="page-header">
            <a href="{% url 'blog:post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <h1 class="display-5"><a href="/">Tango with Django Blog</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <p></p>
        <div class="container">

            <img src="{% static 'blog/image/mercedes.png' %}" class="img-thumbnail">
            <hr>
            &copy; caravan4eg 2018
        </div>
    </body>
</html>