{% extends 'site_app/base.html' %}
{% load static %}

{% block content %}
    <h1 class="display-4">Invitation to tango</h1>
    <hr>
    <p> I looked at my son. He's well-known front-end developer and I like very much what he makes. And I asked myself
        how all of these websites work and can I understand it? Can I make something as wonderful as my son makes? It
        was a warm rainy autumn day (2018) when I decided to learn Python and Django from zero.</p>
    <p>I would say it's my tango with Django. Now I'm for a while on this road and I still keep going... I try to
        implement simple Python & Django functions and result of it you can see at this site.
        <a href="{% url 'blog:post_list' %}">In the blog</a> you can see short history
        how is it going right now...</p>
    <br/>
    <h2 class="display-5">Functionality & technologies</h2>
    <p>Site has various sections witch are different Django applications:</p>
    <ul>
        <li><a href="{% url 'blog:post_list' %}">Blog</a></></li>
        <li><a href="{% url 'catalog:index' %}">LocalLibrary</a></li>
        <li><a href="{% url 'book_app:display_meta' %}">Study exercises</a></li>
        <li><a href="{% url 'site_app:search' %}">Search</a></li>
    </ul>
    <p>All posts in the Blog are from server's database. It can be SQLight or PostgreSQL/MySQL database. It depends from
        server where site is running. Everyone can read and add posts.</p>
    <p>At LocalLibrary you can see function and generic class based views, access restriction, different permission by
        different group of users as result of implementing decorators and mixins. If you want test behavior of users'
        use Authentication form at very bottom of page.</p>
    <p>Study Exercises show some techniques of templates in Django, content of GET Request and others.</p>
    <hr>
    <img src="{% static 'images/TangoWithDjangoCover.jpg' %}" alt="Tango With Django" style="width:300px;height:368px;">
{% endblock content %}
