{% extends 'site_app/base.html' %}
{% load static %}

{% block content %}
    <h1 class="display-4">This is Python & Django practise site</h1>
    <hr>
    <p> I looked on my son. He's well-known front-end developer and I like
        very much what he makes.
        <br/><br/>
        And I asked myself how all of these websites work?
        If I can understand it and make something as wonderful as my son makes?
        It was a warm rainy autumn day (2018) when I decided to learn backend programming with Python and Django from zero.

        <br/><br/>
        I would say it's my tango with Django.
        Now I'm third month on this road and I still keep going :-)
        <br/><br/>
        Here I'll try and if you want you'll see simple functions of Python and Django.
        You'll find on this site search functionality, result of interaction with
        data base, small blog and library catalog, using Django Template Language
        and something else useful but I do not know what yet ;-)
        <p><em>At <strong>Blog's</strong> pages you can see how is it going now...</em></p>

    <hr>
    <img src="{% static 'images/TangoWithDjangoCover.jpg' %}" alt="Tango With Django" style="width:300px;height:368px;">
{% endblock content %}
