{% extends "catalog/base_generic.html" %}

{% block content %}
    <h1 class="display-5">Book List</h1>
    {% if book_list %}
        <ul>
            {% for book in book_list %}
                <li>
                    <h4><a href="{{ book.get_absolute_url }}">{{ book.title }} / {{ book.author }}</a></h4>
                    <p>isbn: {{ book.isbn }}<p>
                    <p><strong>Summary:</strong> <em>{{ book.summary }}</em></p>

                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no books in the library.</p>
    {% endif %}
{% endblock %}