<html>
<head>
    <title>Поиск</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
{% if errors %}
    <ul>
        {% for error in errors %}

            <li><p style="color:red ">{{ error }} </p></li>

        {% endfor %}
        <!--<p style="color:red ">Input search request no more than 20 symbols</p>-->
    </ul>
{% endif %}

<form action="" method="get">
    <input type='text' name='q'>
    <input type="submit" value="Найти">
</form>
</body>
</html>